<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Blog</h1>
      <nav>
        <ul></ul>
      </nav>
    </header>
    <main>
      {{ blogs }} {% for blog in blogs %}
      <li>{{ blog }} -- {{ blog.content }}</li>
      {% endfor %}

      <form action="." method="post">
        {% csrf_token %}
        {{ myform.as_p }}

        <button type="submit">Create New Blog</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2023 Blog. All rights reserved.</p>
    </footer>
  </body>
</html>
