<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortner</title>
  </head>
  <body>
    <header>
      <h1>Url Shortner</h1>
    </header>
    <main>
      <form action="{% url 'url_shorner:index' %}" method="post">
        {% csrf_token %} {{ myform.as_p }} {{ myform.non_field_errors }}

        <button type="submit">Shorten URL</button>
      </form>

      <h2>All Urls</h2>

      {{ messages }} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <ul>
        {% for url in urls %}
        <li>
          <a
            href="{% url 'url_shorner:redirect_to_url' url.uid %}"
            target="_blank"
          >
            {{request.scheme }}://{{request.get_host}}/shortner/{{ url.uid }}
          </a>
          <br />
          - {{ url.short_url }}
          <form
            action="{% url 'url_shorner:delete_url' url.pk %}"
            method="post"
          >
            {% csrf_token %}
            <button
              onclick="alert('Aare you sure you want to delete?')"
              type="submit"
            >
              Delete
            </button>
          </form>
        </li>
        <hr />
        <hr />
        {% endfor %}
      </ul>
    </main>
    <footer>
      <p>&copy; 2023 Your Company Name. All rights reserved.</p>
      <p>
        <a href="/about">About Us</a> | <a href="/contact">Contact</a> |
        <a href="/privacy-policy">Privacy Policy</a>
      </p>
    </footer>
  </body>
</html>
